<script setup lang="ts">
import { Bar } from "vue-chartjs";
import { ref } from "vue";
const gMonthly = ref({
  labels: [
    "ม.ค.",
    "ก.พ.",
    "มี.ค.",
    "เม.ย",
    "พ.ค.",
    "มิ.ค.",
    "ก.ค.",
    "สิ.ค.",
    "ก.ย.",
    "ตุ.ค.",
    "พ.ย.",
    "ธ.ค.",
  ],
  datasets: [
    {
      label: "ยอดขายรายเดือน",
      backgroundColor: "#c19277",
      data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11], // Data
    },
  ],
});

const options = ref({
  responsive: true,
  maintainAspectRatio: false,
});
</script>
<template>
  <Bar :data="gMonthly" :options="options"></Bar>
</template>
