<script lang="ts" setup>
import { Bar } from "vue-chartjs";
import { ref } from "vue";
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
} from "chart.js";

ChartJS.register(
  CategoryScale,
  LinearScale,
  BarElement,
  Title,
  Tooltip,
  Legend
);

const gYearly = ref({
  labels: ["2018", "2019", "2020", "2021", "2022"],
  datasets: [
    {
      label: "ยอดขายรายปั",
      backgroundColor: "#c19277",
      data: [1000, 2300, 990, 1400, 1800], // Data
    },
  ],
});

const options = ref({
  responsive: true,
  maintainAspectRatio: false,
});
</script>
<template>
  <Bar :data="gYearly" :options="options"></Bar>
</template>
