<script setup lang="ts">
import { ref } from "vue";
import { useEmployeeStore } from "@/stores/employee";
import type { VForm } from "vuetify/components";
import { useCheckinoutStore } from "@/stores/checkinout";
import { useOrderStore } from "@/stores/order";
import { useCoffeeStore } from "@/stores/menu";
import { useReceiptDetailStore } from "@/stores/receipt_detail";
const form = ref<VForm | null>(null);
const CoffeeStore = useCoffeeStore();
const receiptDetail = useReceiptDetailStore();
const isButtonClicked = ref(true);
const type = ref("");
const save = async (id: number) => {
  const { valid } = await form.value!.validate();
  if (valid) {
    receiptDetail.addReceiptDetail(id, type.value);
    CoffeeStore.dialog = false;
  }
};
const addnew = () => {
  CoffeeStore.dialog = true;
};

const clear = () => {
  CoffeeStore.dialog = false;
  CoffeeStore.clear();
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="CoffeeStore.dialog" persistent width="1024" theme="dark">
      <v-card class="rounded-xl">
        <v-card-title class="left-justify">
          <span class="text-h5">เลือกรายการ</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12"> </v-col>
                <v-container>
                  <v-row>
                    <v-radio-group>
                      <v-col cols="2">
                        <v-radio
                          inline
                          class="rounded-xl mr-n1 menu-botton"
                          v-model="type"
                          value="ร้อน"
                          >ร้อน</v-radio
                        >
                      </v-col>
                      <v-col cols="2">
                        <v-radio
                          inline
                          class="rounded-xl mr-n1 menu-botton"
                          v-model="type"
                          value="เย็น"
                          >เย็น</v-radio
                        >
                      </v-col>
                      <v-col cols="2">
                        <v-radio
                          inline
                          class="rounded-xl menu-botton"
                          v-model="type"
                          value="ปั่น"
                          >ปั่น</v-radio
                        >
                      </v-col>
                    </v-radio-group>
                  </v-row>

                  <v-row>
                    <v-col>
                      <span class="text-h5">เลือกระดับความหวาน</span>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-btn class="rounded-xl mr-n1 menu-botton"
                        >หวาน 0 %</v-btn
                      >
                      <v-btn class="rounded-xl mr-n1 menu-botton"
                        >หวาน 25 %</v-btn
                      >
                      <v-btn class="rounded-xl mr-n1 menu-botton"
                        >หวาน 50 %</v-btn
                      >
                      <v-btn class="rounded-xl mr-n1 menu-botton"
                        >หวาน 75 %</v-btn
                      >
                      <v-btn class="rounded-xl mr-n1 menu-botton"
                        >หวาน 100 %</v-btn
                      >
                      <v-btn class="rounded-xl mr-n1 menu-botton"
                        >หวาน 125 %</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-container>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="
              coffeeStore.coffees.addReceiptDetail(item.id, type),
                (CoffeeStore.dialog = false)
            "
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped>
.menu-botton {
  background-color: #c19277;
  color: white;
  font-weight: bold;
  font-size: large;
}

.menu-botton:focus {
  background-color: #6d9886;
  color: white;
  border-color: #6d9886;
}
.menu-name {
  color: white;
  background-color: #2c3333;
  font-weight: bold;
  font-size: large;
}

.tab {
  background-color: #0f3d3e;
  color: white;
}

.menu-backG {
  background-color: #0f3d3e;
}

.menu-back-botton {
  background-color: white;
}
</style>
