<script setup lang="ts">
import ListMenuVue from "./ListMenu.vue";
import PaymentViewVue from "./PaymentView.vue";
import MenuViewVue from "./MenuView.vue";
import type DialogPOSVue from "./DialogPOS.vue";
import DialogPOS from "./DialogPOS.vue";
</script>

<template>
  <v-layout class="backG">
    <v-row class="ma-1">
      <v-col>
        <MenuViewVue></MenuViewVue>
        <DialogPOS />
      </v-col>
      <v-col>
        <ListMenuVue />
        <PaymentViewVue class="mt-5" /> </v-col
    ></v-row>
  </v-layout>
</template>
<style scoped>
.backG {
  background-color: #6d9886;
  height: 93vh;
}
</style>
