<script setup lang="ts">
import ListCheckinout from "./Checkinout/ListCheckinout.vue";
import CheckinoutDialogTime from "./Checkinout/CheckinoutDialogTime.vue";
</script>
<template>
  <v-layout class="backG">
    <v-container>
      <v-row><ListCheckinout /><CheckinoutDialogTime /></v-row>
    </v-container>
  </v-layout>
</template>
<style scoped>
.backG {
  background-color: #6d9886;
  height: 93vh;
}
</style>
