<script setup lang="ts">
import EmployeeDialog from "./Employee/EmployeeDialog.vue";
import ListEmployee from "./Employee/ListEmployee.vue";
import EmployeeDialogSummary from "./Employee/EmployeeDialogSummary.vue";
</script>
<template>
  <v-layout class="backG">
    <v-container>
      <v-row><ListEmployee /><EmployeeDialog /><EmployeeDialogSummary /></v-row>
    </v-container>
  </v-layout>
</template>
<style scoped>
.backG {
  background-color: #6d9886;
  height: 93vh;
}
</style>
