<script setup lang="ts">
import gYear from "@/components/charts/gYear.vue";
import gMonth from "@/components/charts/gMonth.vue";
</script>

<template>
  <v-layout class="backG overflow-y-auto">
    <v-container fluid>
      <main>
        <v-container fluid>
          <v-row>
            <v-col class="">
              <div>
                <v-card width="90vh" height="43vh" class="rounded-xl card">
                  <gMonth
                /></v-card>
              </div>
              <div>
                <v-card width="90vh" height="43vh" class="rounded-xl mt-6 card">
                  <gYear />
                </v-card>
              </div>
            </v-col>

            <v-col>
              <v-card
                height="25vh"
                width="auto"
                class="rounded-xl overflow-y-auto mb-5"
                theme="dark"
              >
                <v-table>
                  <thead>
                    <tr>
                      <td class="text-center">สินค้าขายดี</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1. คาปูชิโน่ แก้วใหญ่ หวานน้อย กินนี่</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card>

              <v-card
                height="25vh"
                width="auto"
                class="rounded-xl overflow-y-auto mb-5"
                theme="dark"
              >
                <v-table>
                  <thead>
                    <tr>
                      <td class="text-center">สินค้าขายไม่ดี</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1. คาปูชิโน่ แก้วใหญ่ หวานน้อย กินนี่</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card>

              <v-card
                height="34vh"
                width="auto"
                class="rounded-xl overflow-y-auto"
                theme="dark"
              >
                <v-table>
                  <thead>
                    <tr>
                      <td class="text-center" colspan="2">
                        สินค้าใกล้หมดสต๊อก
                      </td>
                    </tr>
                    <tr>
                      <td>รายชื่อ</td>
                      <td>จำนวน</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>กัญชา</td>
                      <td>2 ถุง</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card>
            </v-col>
          </v-row></v-container
        >
      </main>
    </v-container>
  </v-layout>
</template>
<style scoped>
.backG {
  background-color: #6d9886;
  height: 93vh;
}

.card {
  background-color: #212121;
  color: white;
}
</style>
