<script lang="ts"></script>
<template>
  <div class="h-screen w-full bg-slate-800 p-0 md:p-2">
    <v-container>
      <div class="button-wrapper">
        <div class="flex h-full w-full justify-between space-x-2 text-gray-300">
          <button-input class="btn-primary" symbols="AC" />
          <button-input class="btn-primary" symbols="DEL" />
          <button-input class="btn-primary" symbols="%" />
          <button-input class="btn-primary" symbols="/" />
        </div>
        <div class="flex h-full w-full justify-between space-x-2 text-white">
          <button-input class="btn-primary" symbols="7" />
          <button-input class="btn-primary" symbols="8" />
          <button-input class="btn-primary" symbols="9" />
          <button-input class="btn-primary" symbols="X" />
        </div>
        <div class="flex h-full w-full justify-between space-x-2 text-white">
          <button-input class="btn-primary" symbols="4" />
          <button-input class="btn-primary" symbols="5" />
          <button-input class="btn-primary" symbols="6" />
          <button-input class="btn-primary" symbols="-" />
        </div>
        <div class="flex h-full w-full justify-between space-x-2 text-white">
          <button-input class="btn-primary" symbols="1" />
          <button-input class="btn-primary" symbols="2" />
          <button-input class="btn-primary" symbols="3" />
          <button-input class="btn-primary" symbols="+" />
        </div>
        <div class="flex h-full w-full justify-between space-x-2 text-white">
          <button-input class="btn-primary" symbols="00" />
          <button-input class="btn-primary" symbols="0" />
          <button-input class="btn-primary" symbols="," />
          <button-input class="btn-secondary" symbols="=" />
        </div>
      </div>
    </v-container>
  </div>
</template>

<style scoped></style>
