<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import {
  mdiAccount,
  mdiAccountMultiple,
  mdiAccountMultipleOutline,
  mdiChartBar,
  mdiCurrencyUsd,
  mdiTextBox,
  mdiWarehouse,
  mdiLogout,
  mdiAccountCheck,
} from "@mdi/js";
import { useLoginStore } from "@/stores/login";
import { useAuthStore } from "@/stores/auth";
const loginStore = useLoginStore();
const authStore = useAuthStore();
const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
const logout = () => {
  authStore.logout();
};
</script>

<template>
  <v-app>
    <v-app-bar>
      <v-row>
        <v-col>
          <v-img
            class="ml-4"
            :aspect-ratio="1"
            :width="40"
            src="..\public\DCoffeeLOGO.png"
            cover
          ></v-img>
          <p>D-Coffee</p>
        </v-col>
      </v-row>
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail>
      <v-list density="compact" nav>
        <v-list-item
          class="justify-left"
          :prepend-icon="mdiChartBar"
          title="Dash Board"
          value="main"
          to="/main"
        ></v-list-item>
        <v-list-item
          class="justify-left"
          :prepend-icon="mdiCurrencyUsd"
          title="POS"
          value="pos"
          to="/pos"
        ></v-list-item>
        <v-list-item
          class="justify-left"
          :prepend-icon="mdiTextBox"
          title="Order"
          value="order"
          to="/order"
        ></v-list-item>
        <v-list-item
          class="justify-left"
          :prepend-icon="mdiAccountMultiple"
          title="Customer"
          value="customer"
          to="/customer"
        ></v-list-item>
        <v-list-item
          class="justify-left"
          :prepend-icon="mdiAccountMultipleOutline"
          title="Employee"
          value="employee"
          to="/employee"
        ></v-list-item>
        <v-list-item
          class="justify-left"
          :prepend-icon="mdiAccount"
          title="User"
          value="user"
          to="/user"
        ></v-list-item>
        <v-list-item
          class="justify-left"
          :prepend-icon="mdiWarehouse"
          title="Stock"
          value="stock"
          to="/stock"
        ></v-list-item>
        <v-list-item
          class="justify-left"
          :prepend-icon="mdiAccountCheck"
          title="Checkinout"
          value="checkinout"
          to="/checkinout"
        ></v-list-item>
        <v-list-item
          class="justify-left"
          :prepend-icon="mdiLogout"
          title="Logout"
          value="logout"
          @click="logout"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>
<style scoped>
.drawer-back {
  background-color: #212121;
  color: white;
}
</style>
