<script setup lang="ts">
import materialList from "@/views/material/materialList.vue";
import MaterialDialogAdd from "./material/MaterialDialogAdd.vue";
import MaterialDialogCheck from "./material/MaterialDialogCheck.vue";
import ListMenuVue from "./pos/MenuView.vue";
import CheckMaterial from "./material/CheckMaterial.vue";
</script>
<template>
  <v-layout class="backG">
    <v-container>
      <v-row
        ><MaterialDialogCheck></MaterialDialogCheck
        ><MaterialDialogAdd></MaterialDialogAdd><materialList></materialList
      ></v-row>
    </v-container>
  </v-layout>
  <!-- <v-layout class="backG">
    <v-row class="ma-1">
      <v-col class="mt-6">
        <MaterialDialogAdd></MaterialDialogAdd>
        <MaterialDialogCheck></MaterialDialogCheck>
        <materialList></materialList>
      </v-col>
      <v-col>
        <CheckMaterial></CheckMaterial>
        <PaymentViewVue class="mt-5" /> </v-col
    ></v-row>
  </v-layout> -->
</template>
<style scoped>
.backG {
  background-color: #6d9886;
  height: 93vh;
}
</style>
