<script setup lang="ts">
import OrderDialog from "./order/OrderDialog.vue";
import OrderList from "./order/OrderList.vue";
</script>
<template>
  <v-layout class="backG">
    <v-container>
      <v-row> <OrderList></OrderList><OrderDialog></OrderDialog> </v-row>
    </v-container>
  </v-layout>
</template>

<style scoped>
.backG {
  background-color: #6d9886;
  height: 93vh;
}
</style>
