<script setup lang="ts">
import UserCardList from "./user/UserCardList.vue";
import UserDialog from "./user/UserDialog.vue";
import UserList from "./user/UserList.vue";
import { useUserStore } from "@/stores/user";
import { mdiTable, mdiCardOutline } from "@mdi/js";
const userStore = useUserStore();
</script>
<template>
  <v-layout class="backG">
    <v-container>
      <v-row>
        <UserList v-if="userStore.isTable" />
        <UserCardList v-if="!userStore.isTable" />
        <UserDialog />
      </v-row>
      <v-row class="justify-center"> </v-row>
    </v-container>
  </v-layout>
</template>
<style scoped>
.backG {
  background-color: #6d9886;
  height: 93vh;
}

.botton {
  background-color: #c19277;
  color: white;
  font-weight: bold;
}

.botton:hover {
  background-color: #212121;
  color: #c19277;
}
</style>
