<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import { mdiDeleteOutline, mdiNoteEditOutline, mdiInformation } from "@mdi/js";
import { onMounted, ref } from "vue";
const orderStore = useOrderStore();

onMounted(async () => {
  await orderStore.getOrders();
});
// const info = () => {
//   orderStore.dialog = true;
// };

// const DelOrder = (index: number): void => {
//   orderStore.DelOrder(index);
// };
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col> </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-card class="mt-n1 overflow-y-auto rounded-xl" width="auto">
                <v-table
                  class="border rounded-xl overflow-auto"
                  height="720px"
                  theme="dark"
                >
                  <thead>
                    <tr>
                      <th>ลำดับ</th>
                      <th>ชื่อสินค้า</th>
                      <th>จำนวน</th>
                      <th>จำนวนเงินทั้งหมด</th>
                      <th>วิธีการชำระเงิน</th>
                    </tr>
                  </thead>
                  <tbody
                    v-for="(item, index) of orderStore.orders"
                    :key="index"
                    class="text-left table-width"
                  >
                    <tr>
                      <td>{{ item.id }}</td>
                      <td>{{ item.orderItems }}</td>
                      <td>{{ item.amount }}</td>
                      <td>{{ item.total }}</td>
                      <td>{{ item.payment }}</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.container-width {
  max-width: 800px;
}
.table-width {
  max-width: 600px;
}

.botton {
  background-color: #c19277;
  color: white;
  font-weight: bold;
}

.botton:hover {
  background-color: #212121;
  color: #c19277;
}
</style>
