<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import type Customer from "@/Types/customer";
import { mdiDeleteOutline, mdiNoteEditOutline, mdiPlus } from "@mdi/js";
import { onMounted } from "vue";

const customerStore = useCustomerStore();
onMounted(async () => {
  await customerStore.getCustomerSP();
});

const deleteCustomer = (index: number): void => {
  customerStore.deleteCustomer(index);
};

const addNew = () => {
  customerStore.dialog = true;
};

const editedCustomer = (customer: Customer) => {
  customerStore.editCus(customer);
};
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-card class="overflow-y-auto rounded-xl" width="auto">
                <v-table
                  class="border rounded-xl overflow-auto"
                  height="720px"
                  theme="dark"
                >
                  <thead>
                    <tr>
                      <th class="text-center">ลำดับ</th>
                      <th class="text-center">ชื่อ</th>
                      <th class="text-center">เบอร์โทรลูกค้า</th>
                      <th class="text-center">แต้มลูกค้า</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item of customerStore.customer"
                      :key="item.id"
                      class="text-center table-width"
                    >
                      <td>{{ item.id }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.phone }}</td>
                      <td>{{ item.points }}</td>
                      <v-btn
                        :prepend-icon="mdiNoteEditOutline"
                        variant="text"
                        class="botton-1 rounded-xl"
                        size="60"
                        @click="editedCustomer(item)"
                      ></v-btn>
                      <v-btn
                        :prepend-icon="mdiDeleteOutline"
                        variant="text"
                        class="botton-2 rounded-xl"
                        size="60"
                        @click="deleteCustomer(item.id!)"
                      ></v-btn>
                    </tr>
                  </tbody>
                </v-table>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.container-width {
  max-width: 800px;
}
.table-width {
  max-width: 600px;
}

.botton-1:hover {
  background-color: white;
  color: black;
}

.botton-2:hover {
  background-color: darkred;
  color: black;
}
</style>
