<script setup lang="ts">
import { mdiDeleteOutline, mdiNoteEditOutline, mdiPlus } from "@mdi/js";
import { onMounted, ref } from "vue";
import { useCheckinoutStore } from "@/stores/checkinout";
import { useAuthStore } from "@/stores/auth";
const Auth = useAuthStore();
const checkinoutStore = useCheckinoutStore();
const Check = localStorage.getItem("check_in_out");

onMounted(async () => {
  await Auth.load();
  await checkinoutStore.getCheckInOuts();
});
const addtime = () => {
  checkinoutStore.dialogTime = true;
};
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <v-btn
          :prepend-icon="mdiPlus"
          class="ml-6 mt-2 rounded-xl botton"
          @click="addtime"
          >ลงชื่อทำงาน</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-card class="mt-n1 overflow-y-auto rounded-xl" width="auto">
                <v-table
                  class="border rounded-xl overflow-auto"
                  height="720px"
                  theme="dark"
                >
                  <thead>
                    <tr>
                      <th class="text-center">วันที่</th>
                      <th class="text-center">เวลาเข้างาน</th>
                      <th class="text-center">เวลาออกงาน</th>
                      <th class="text-center">ชั่วโมงที่ทำงาน</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item of checkinoutStore.checkinout"
                      :key="item.id"
                      class="text-center table-width"
                    >
                      <td>{{ item.date?.toString().substring(0, 10) }}</td>
                      <td>{{ item.time_in }}</td>
                      <td>{{ item.time_out }}</td>
                      <td>{{ item.total_hour }}</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.container-width {
  max-width: 800px;
}
.table-width {
  max-width: 600px;
}

.botton {
  background-color: #c19277;
  color: white;
  font-weight: bold;
}

.botton:hover {
  background-color: #212121;
  color: #c19277;
}
</style>
